alembic
blinker
click
dnspython
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
humanize
importlib-metadata
is-disposable-email
itsdangerous
Jinja2
Mako
MarkupSafe
MyApplication
psycopg2-binary
SQLAlchemy
typing_extensions
Werkzeug
WTForms
wtforms-validators
zipp
pg8000