<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Storyverse{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block sticky_toolbar %}
{% endblock %}
{% block content %}
{% endblock %}
<div class="float-btn">
    <a href="{{ url_for('dashboard') }}" class="btn" style="text-decoration: none">+</a>
</div>

</body>
</html>
