{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>Create a Post - Storyverse</title>
{% endblock %}

{% block sticky_toolbar %}
{% include "toolbar.html" %}
{% endblock %}

{% block content %}
<h1 class="dashboard-container">Create a Post</h1>
<div class="dashboard-container">
    <form id="create-post-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="body">Story</label>
            <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags (separated by space)</label>
            <input type="text" class="form-control" id="tags" name="tags">
        </div>
        <div class="form-group">
            <label for="start-date">Start Date</label>
            <input type="date" class="form-control" id="start-date" name="start_date" required>
        </div>
        <div class="form-group">
            <label for="end-date">End Date</label>
            <input type="date" class="form-control" id="end-date" name="end_date">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            {{ form.image_url.label }} {{ form.image_url() }}
        </div>
        <div class="form-group">
            <label for="geolocation">Geolocation</label>
            {% include "map.html" %}
            <input type="hidden" id="geolocation" name="geolocation" required>
        </div>
        {{ form.csrf_token }}
        <button type="submit" class="button btn-primary">Submit</button>
    </form>
</div>
{% endblock %}