{% extends "base.html" %}

{% block content %}
<div class="dashboard-container">
    <h1>Dashboard</h1>
    <div class="stories">
        {% for post in posts %}
        <div class="story">
            <h3>{{ post.title }}</h3>
            <p>Posted by: {{ post.author.username }}</p>
            <p>{{ post.body }}</p>
            <p>Timestamp: {{ post.timestamp }}</p>
            {% if post.last_edited %}
            <p>Last edited: {{ post.last_edited }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
