{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<style>
    main {
        margin: 1rem;
    }

</style>
{% endblock %}

{% block sticky_toolbar %}
{% include "toolbar.html" %}

<main>
    <h1>{{ user.username }}'s Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.posts.count() == 0 %}
    <p>Not posted any stories yet.</p>
    {% elif user.posts.count() == 1 %}
    <p>Posted 1 story.</p>
    {% else %}
    <p>Posted {{ user.posts.count() }} stories.</p>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% if current_user != user %}
    {% if current_user.is_following(user) %}
    <form method="post" action="{{ url_for('unfollow', user_id=user.id) }}" class="follow-form">
        <button class="btn btn-primary btn-sm">Unfollow</button>
    </form>
    {% else %}
    <form method="post" action="{{ url_for('follow', user_id=user.id) }}" class="follow-form">
        <button class="btn btn-outline-primary btn-sm">Follow</button>
    </form>
    {% endif %}
    {% endif %}

    {% with posts = user.posts %}
    {% include "post.html" %}
    {% endwith %}
    {% endblock %}
</main>