{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>Create a Post - Storyverse</title>
{% endblock %}

{% block sticky_toolbar %}
{% include "toolbar.html" %}
{% endblock %}

{% block content %}
<h1 class="dashboard-container">Create a Post</h1>
<div class="dashboard-container">
    <form id="create-post-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="body">Story</label>
            <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags (separated by space)</label>
            <input type="text" class="form-control" id="tags" name="tags">
        </div>
        <div class="radio-container" id="date-type"> Date Type:
            <input type="radio" id="exactDate" name="dateOption" value="exact" checked>
            <label for="exactDate">Exact Date</label>

            <input type="radio" id="season" name="dateOption" value="season">
            <label for="season">Season</label>

            <input type="radio" id="decade" name="dateOption" value="decade">
            <label for="decade">Decade</label>
        </div>

        <script>
            const exactDateRadio = document.getElementById("exactDate");
            const seasonRadio = document.getElementById("season");
            const decadeRadio = document.getElementById("decade");

            exactDateRadio.addEventListener("change", function () {
                if (exactDateRadio.checked) {
                    document.getElementById("start-date").style.display = 'block'
                    document.getElementById("start-date").required = true
                    document.getElementById("end-date").style.display = 'block'
                    document.getElementById("end-date").required = true
                    document.getElementById("start-decade").style.display = 'none'
                    document.getElementById("start-decade").required = false
                    document.getElementById("end-decade").style.display = 'none'
                    document.getElementById("end-decade").required = false
                    document.getElementById("start-season").style.display = 'none'
                    document.getElementById("start-season").required = false
                    document.getElementById("end-season").style.display = 'none'
                    document.getElementById("end-season").required = false
                }
            });

            seasonRadio.addEventListener("change", function () {
                if (seasonRadio.checked) {
                    document.getElementById("start-date").style.display = 'none'
                    document.getElementById("start-date").required = false
                    document.getElementById("end-date").style.display = 'none'
                    document.getElementById("end-date").required = false
                    document.getElementById("start-season").style.display = 'block'
                    document.getElementById("start-season").required = true
                    document.getElementById("end-season").style.display = 'block'
                    document.getElementById("end-season").required = true
                    document.getElementById("start-decade").style.display = 'none'
                    document.getElementById("start-decade").required = false
                    document.getElementById("end-decade").style.display = 'none'
                    document.getElementById("end-decade").required = false
                }
            });

            decadeRadio.addEventListener("change", function () {
                if (decadeRadio.checked) {
                    document.getElementById("start-date").style.display = 'none'
                    document.getElementById("start-date").required = false
                    document.getElementById("end-date").style.display = 'none'
                    document.getElementById("end-date").srequired = false
                    document.getElementById("start-season").style.display = 'none'
                    document.getElementById("start-season").required = false
                    document.getElementById("end-season").style.display = 'none'
                    document.getElementById("end-season").required = false
                    document.getElementById("start-decade").style.display = 'block'
                    document.getElementById("start-decade").required = true
                    document.getElementById("end-decade").style.display = 'block'
                    document.getElementById("end-decade").required = true
                }
            });
        </script>
        <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input id="start-date" type="date" class="form-control" name="start_date" required>
            <select id="start-season" class="form-control" name="start_date" style="display: none"
                    onchange="document.getElementById('start-date-free').value = this.options[this.selectedIndex].text;">
                <option value="">Select Season</option>
            </select>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    for (let year = new Date().getFullYear(); year >= 1970; year--) {
                        let option;
                        for (let season = 0; season < 4; season++) {
                            option = document.createElement("option");
                            option.value = season;
                            option.textContent = ["Spring", "Summer", "Autumn", "Winter"][season] + " " + year;
                            document.getElementById("start-season").appendChild(option);
                        }
                    }
                });
            </script>
            <select id="start-decade" class="form-control" name="start_date" style="display: none">
                <option value="">Select Decade</option>
                <script>
                    const currentYear = new Date().getFullYear();
                    for (let year = currentYear - (currentYear % 10); year >= 1970; year -= 10) {
                        const decadeStart = year;
                        const option = document.createElement("option");
                        option.value = year;
                        option.textContent = decadeStart + "s";
                        document.getElementById("start-decade").appendChild(option);
                    }
                </script>
            </select>


            <label for="start-date-free" style="display: none">Start Date Free</label>
            <input id="start-date-free" type="text" name="start_date_free" class="form-control" style="display: none">
            <label for="end-date-free" style="display: none">End Date Free</label>
            <input id="end-date-free" name="end_date_free" type="text" class="form-control" style="display: none">


        </div>
        <div class="form-group">
            <label for="end-date">End Date:</label>
            <input id="end-date" type="date" class="form-control" name="end_date" required>
            <select id="end-season" name="end_date" style="display: none"
                    onchange="document.getElementById('end-date-free').value = this.options[this.selectedIndex].text;">
                <option value="">Select Season</option>
            </select>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    for (let year = new Date().getFullYear(); year >= 1970; year--) {
                        let option;
                        for (let season = 0; season < 4; season++) {
                            option = document.createElement("option");
                            option.value = season;
                            option.textContent = ["Winter", "Autumn", "Summer", "Spring"][season] + " " + year;
                            document.getElementById("end-season").appendChild(option);
                        }
                    }
                });
            </script>
            <select id="end-decade" name="end_date" style="display: none">
                <option value="">Select Decade</option>
                <script>
                    for (let year = currentYear - (currentYear % 10); year >= 1970; year -= 10) {
                        const decadeStart = year;
                        const option = document.createElement("option");
                        option.value = year;
                        option.textContent = decadeStart + "s";
                        document.getElementById("end-decade").appendChild(option);
                    }
                </script>
            </select>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            {{ form.base64_image.label }} {{ form.base64_image() }}
        </div>
        <div class="form-group">
            <label for="geolocation">Geolocation</label>
            {% include "location_picker.html" %}
            <input type="hidden" id="geolocation" name="geolocation" required>
        </div>
        <div class="form-group">
            <label for="lat_lon"></label>
            <input type="hidden" id="lat_lon" name="lat_lon" required>
        </div>
        {{ form.csrf_token }}
        <button type="submit" class="button btn-primary">Submit</button>
    </form>
</div>
{% endblock %}