<div class="dashboard-container">
    <div class="stories">
        {% for post in posts %}
        <div class="post-card" data-post-id="{{ post.id }}">
            <div class="card-header">
                <h3>{{ post.title }}</h3>
                <div class="card-dates">
                    <span>{{ post.start_date|humanized_time }}</span>
                    {% if post.end_date %}
                    <span>-</span>
                    <span>{{ post.end_date|humanized_time }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="card-header">
                <p><i><a href="{{ url_for('profile', user_id=post.user_id) }}">{{ post.author.username }}</a> · {{
                    post.timestamp|relative_time }}</i>
                    {% if post.get_locations() %}
                <p>{% for location in post.get_locations() %}<a href="">{{ location }}</a>{% if not loop.last %}, {%
                    endif %}{%
                    endfor %}</p>
                {% endif %}
            </div>
            </p>
            {% if post.get_image() %}
            <img src="{{ post.get_image() }}" height="500em">
            {% endif %}
            <p>{{ post.body }}</p>
            <div>
                {% with coordinates = post.lat_lon, id = post.id %}
                {% include "location_presenter.html" %}
                {% endwith %}
            </div>
            {% if post.get_tags() %}
            <p>{% for tag in post.get_tags() %}<a href="">#{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
            </p>
            {% endif %}
            <button class="like-button" style="width: 5em">{% if post.is_liked() %}Unlike{% else %}Like{% endif %}
            </button>
            <span class="like-count">{{ post.likes.count() }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', async (event) => {
            // Get the post card element and retrieve the post ID from it
            const postCard = event.target.closest('.post-card');
            const postId = postCard.dataset.postId;

            try {
                const response = await fetch(`/like_post/${postId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();

                if (data.success) {
                    // Update the like count label with the new like count
                    const likeCountLabel = postCard.querySelector('.like-count');
                    likeCountLabel.innerText = data.likes;
                    if (button.innerText === "Like") {
                        button.innerText = "Unlike"
                    } else {
                        button.innerText = "Like"
                    }
                } else {
                    alert('Error liking the post: ' + data.message);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error liking the post.');
            }
        });
    });
</script>